<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title></title>
   </head>
   <body>
      <div class="container">
         <div class="row">
            <div class="col-md-12 text-center">
               <h1>Assignments Show</h1>
               <a href="/administrators" class="btn btn-primary">Home</a>
               <a href="/assignments/new/<%= @course.id %>" class="btn btn-primary">Create new assignment</a>
               <a href="/logout" data-method="delete" class="btn btn-primary">Logout</a>
               <h2>Course: <%= @course.name.capitalize %></h2>
            </div>
         </div>
         <div class="row">
            <div class="col-md-8 mx-auto">
               <% if @assignments %>
                  <% @assignments.each do |assignment|%>
                     <h2><%= assignment.name %></h2>
                     <h2>Due Date: <%= assignment.due_date %></h2>
                     <h2>Description:</h2>
                     <p><%= assignment.description %></p>
                     <a href="/assignments/<%= assignment.id %>/edit" class="btn btn-primary">Edit</a>
                     <a href="/assignments/<%= assignment.id %>" class="btn btn-danger" data-method="delete">Delete</a>
                     <hr>
                  <% end %>
               <% else %>
                  <h2>No Assignments.</h2>
               <% end %>
            </div>
         </div>
      </div>
   </body>
</html>
