<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title></title>
   </head>
   <body>
      <div class="container">
         <div class="row">
            <div class="col-md-12 text-center">
               <h1>Assignments Show</h1>
               <a href="/courses" class="btn btn-primary">Course Dashboard</a>
               <a href="/assignments/<%= @course.id %>" class="btn btn-primary">Assignment</a>
               <a href="/logout" data-method="delete" class="btn btn-primary">Logout</a>
               <h2>Course: <%= @course.name.capitalize %></h2>
            </div>
         </div>
         <div class="row">
            <div class="col-md-4">
               <% if @assignments %>
                  <% @assignments.each do |assignment|%>
                     <h2><%= assignment.name %></h2>
                     <h2>Due Date: <%= assignment.due_date %></h2>
                     <h2>Description:</h2>
                     <p><%= assignment.description %></p>
                     <hr>
                  <% end %>
               <% else %>
                  <h2>No Assignments.</h2>
               <% end %>
            </div>
            <div class="col-md-8">
               <form action="/create/<%= @course.id %>" method="post">
                  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
                  <div class="form-group">
                     <label for="name">Assignment:</label>
                     <input type="text" name="assignment[name]" class="form-control">
                  </div>
                  <div class="form-group">
                     <label for="description">Description:</label>
                     <textarea name="assignment[description]" rows="8" cols="80"></textarea>
                  </div>
                  <div class="form-group">
                     <label for="date_assigned">Date Assigned:</label>
                     <input type="date" name="assignment[date_assigned]" class="form-control">
                  </div>
                  <div class="form-group">
                     <label for="due_date">Due Date:</label>
                     <input type="date" name="assignment[due_date]" class="form-control">
                  </div>
                  <button type="submit" class="btn btn-outline-success">Create</button>
               </form>
            </div>
         </div>
      </div>
   </body>
</html>
