<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title></title>
   </head>
   <body>

      <div class="d-flex" id="wrapper">

        <!-- Sidebar Section -->
        <div class="bg-light border-right" id="sidebar-wrapper">
          <div class="sidebar-heading">Open-School</div>
          <div class="list-group list-group-flush">
            <a href="#dashboard" data-toggle="tab" class="list-group-item list-group-item-action">Dashboard</a>
            <a href="#courses" data-toggle="tab" class="list-group-item list-group-item-action">Courses</a>
            <a href="#assignments" data-toggle="tab" class="list-group-item list-group-item-action">Assignments</a>
          </div>
        </div>
        <!-- Sidebar Section End -->

        <!-- Page Content Section -->
        <div id="page-content-wrapper">

          <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">

               <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                  <li class="nav-item active">
                     <a class="nav-link" href="#"><i class="fas fa-bell"></i></a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="#"><i class="fas fa-envelope"></i></a>
                  </li>
                  <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user-circle"></i>
                     </a>
                     <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/students_contact_info">Profile</a>
                        <a class="dropdown-item" href="#">Settings</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/sessions/logout" data-method="delete">Logout</a>
                     </div>
                  </li>
               </ul>

            </div>
          </nav>

         <div class="tab-content container-fluid">

            <!-- Dashboard Section -->
            <div class="tab-pane container active" id="dashboard">
               DASHBOARD
            </div>
            <!-- Dashboard Section End -->


            <!-- Courses Section -->
            <div class="tab-pane container fade" id="courses">
               <div class="row">
                  <div class="col-md-12">
                     <table class="table table-hover">
                        <thead>
                           <tr>
                              <th>Name</th>
                              <th>Subject</th>
                              <th>Start Date</th>
                              <th>End Date</th>
                           </tr>
                        </thead>
                        <tbody>
                           <% if @courses %>
                              <% @courses.each do |course| %>
                                 <tr>
                                    <td><%= course.name.capitalize %></td>
                                    <td><%= course.subject.capitalize %></td>
                                    <td><%= course.start_date.strftime("%B %d %Y") %></td>
                                    <td><%= course.end_date.strftime("%B %d %Y") %></td>
                                 </tr>
                              <% end %>
                           <% end %>
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
            <!-- Courses Section End -->

            <!-- Assignments Section -->
            <div class="tab-pane container fade" id="assignments">
               <div class="row">
                  <div class="col-md-12">
                     <table class="table table-hover">
                        <thead>
                           <tr>
                              <th>Name</th>
                              <th>Date Assigned</th>
                              <th>Due Date</th>
                              <th>Description</th>
                           </tr>
                        </thead>
                        <tbody>
                           <% @assignments.each do |assignment| %>
                              <tr>
                                 <td><%= assignment.name.capitalize %></td>
                                 <td><%= assignment.date_assigned.strftime("%B %d %Y") %></td>
                                 <td><%= assignment.due_date.strftime("%B %d %Y") %></td>
                                 <td><%= assignment.description %></td>
                              </tr>
                           <% end %>
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
            <!-- Assignments Section End -->

         </div>


        </div>
        <!-- Page Content Section End -->

      </div>



      <script>
        $("#menu-toggle").click(function(e) {
          e.preventDefault();
          $("#wrapper").toggleClass("toggled");
        });
      </script>



      <div class="row">
         <div class="col-3"></div>
         <div class="col-6 text-center">
            <h1>Welcome, <%= @student.first_name.capitalize %> <%= @student.last_name.capitalize %></h1>
            <a href="/" class="btn btn-primary">Home</a>
            <a href="/students_contact_info" class="btn btn-primary">Contact Information</a>
            <a href="/logout" data-method="delete" class="btn btn-primary">Logout</a>
         </div>
         <div class="col-3"></div>
      </div>
      <br>
      <div class="row">
         <div class="col-3 text-center"></div>
         <div class="col-6">
            <div class="container">
               <h1>Courses:</h1>
               <table class="table table-bordered">
                  <thead>
                     <tr>
                        <th>Course</th>
                        <th>Subject</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                     </tr>
                  </thead>
                  <tbody>
                     <% if @student_course %>
                        <% @student_course.each do |course| %>
                           <tr>
                              <td><%= course.name.capitalize %></td>
                              <td><%= course.subject.capitalize %></td>
                              <td><%= course.start_date %></td>
                              <td><%= course.end_date %></td>
                           </tr>
                        <% end %>
                     <% end %>
                  </tbody>
               </table>
            </div>
         </div>
         <div class="col-3"></div>
      </div>
   </body>
</html>
