<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title></title>
   </head>
   <body>
      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">

         <a class="navbar-brand" href="/administrators">Open-School</a>

         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>

         <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
               <li class="nav-item active">
                  <a class="nav-link" href="#"><i class="fas fa-bell"></i></a>
               </li>
               <li class="nav-item border-right pr-2">
                  <a class="nav-link" href="#"><i class="fas fa-envelope"></i></a>
               </li>
               <% if current_administrator %>
                  <li class="nav-item dropdown pl-1">
                     <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         <%=current_administrator.login%> <i class="fas fa-user-circle"></i>
                     </a>
                     <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/administrators/<%= current_administrator.id %>">Profile</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/sessions/logout" data-method="delete">Logout</a>
                     </div>
                  </li>
               <% end %>
               <% if current_guest %>
                  <li class="nav-item dropdown pl-1">
                     <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         <%=current_guest.login%> <i class="fas fa-user-circle"></i>
                     </a>
                     <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="">Profile</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/sessions/logout" data-method="delete">Logout</a>
                     </div>
                  </li>
               <% end %>
            </ul>
         </div>
      </nav>

      <div class="container py-4">
         <div class="row">
            <div class="col-md-8 mx-auto border shadow p-4 my-4 bg-white">
               <div class="row">
                  <div class="col-md-12 mb-2">
                     <h1>Student: <%= @student.first_name.capitalize %> <%= @student.last_name.capitalize %> </h1>
                  </div>
               </div>
               <hr>
               <div class="row">
                  <div class="col-md-12 mb-2">
                     <h3>Edit Record:</h3>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-12 mb-2">
                     <form action="/gradebooks/<%= @gradebook.id %>" method="post">
                        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
                        <input type="hidden" name="_method" value="patch">

                        <div class="form-group">
                           <label for="letter_score">Grade:</label>
                           <select class="form-control" id="letter_score" value="<%= @gradebook.letter_score %>"  name="gradebook[letter_score]" >
                              <option></option>
                              <option>A</option>
                              <option>B</option>
                              <option>C</option>
                              <option>D</option>
                              <option>F</option>
                           </select>
                        </div>
                        <div class="form-group">
                           <label for="number_score">Numerical Score:</label>
                           <select class="form-control" id="number_score" value="<%= @gradebook.number_score %>" name="gradebook[number_score]" >
                              <option></option>
                              <option>100</option>
                              <option>90</option>
                              <option>80</option>
                              <option>70</option>
                              <option>60</option>
                           </select>
                        </div>
                        <div class="form-group">
                           <label for="comment">Comments:</label>
                           <textarea name="gradebook[comment]" rows="8" cols="80"><%= @gradebook.comment %></textarea>
                        </div>
                        <div class="form-group">
                           <label for="session">Academic Session:</label>
                           <select class="form-control" name="gradebook[session]" value="<%= @gradebook.session %>" id="session">
                              <option></option>
                              <option>Spring</option>
                              <option>Summer</option>
                              <option>Fall</option>
                              <option>Winter</option>
                           </select>
                        </div>
                        <div class="form-group">
                           <label for="year">Year:</label>
                           <select class="form-control" name="gradebook[year]" value="<%= @gradebook.year %>" id="year">
                              <option></option>
                              <option>2019</option>
                              <option>2020</option>
                              <option>2021</option>
                              <option>2022</option>
                           </select>
                        </div>
                        <div class="form-group">
                           <label for="start_date">Start Date:</label>
                           <input type="date" name="gradebook[start_date]" value="<%= @gradebook.start_date %>" class="form-control">
                        </div>
                        <div class="form-group">
                           <label for="end_date">End Date:</label>
                           <input type="date" name="gradebook[end_date]" value="<%= @gradebook.end_date %>" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-success">Update Record</button>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <footer class="conatiner-fluid" style="background-color:#eee;padding-top:25px;padding-bottom:10px;">
         <div class="container">
            <div class="row">
               <div class="col-1"></div>
               <div class="col-md-10 text-center">
                  <p> &copy; Open-School 2019. All Rights Reserved.</p>
               </div>
               <div class="col-1"></div>
            </div>
         </div>
      </footer>




      <!-- <div class="container">
         <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 text-center">
               <a href="/administrators" class="btn btn-primary">Home</a>
               <a href="/sessions/logout" data-method="delete" class="btn btn-primary">Logout</a>
            </div>
            <div class="col-md-2"></div>
         </div>
         <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
               <h1>Edit</h1>
               <form action=" " method="post">
                  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
                  <div class="form-group">
                     <label for="letter_score">Grade:</label>
                     <select class="form-control" id="letter_score" name="gradebook[letter_score]" >
                        <option></option>
                        <option>A</option>
                        <option>B</option>
                        <option>C</option>
                        <option>D</option>
                        <option>F</option>
                     </select>
                  </div>
                  <div class="form-group">
                     <label for="number_score">Numerical Score:</label>
                     <select class="form-control" id="number_score" name="gradebook[number_score]" >
                        <option></option>
                        <option>100</option>
                        <option>90</option>
                        <option>80</option>
                        <option>70</option>
                        <option>60</option>
                     </select>
                  </div>
                  <div class="form-group">
                     <label for="comment">Comments:</label>
                     <textarea name="gradebook[comment]" rows="8" cols="80"></textarea>
                  </div>
                  <div class="form-group">
                     <label for="session">Academic Session:</label>
                     <select class="form-control" name="gradebook[session]" id="session">
                        <option></option>
                        <option>Spring</option>
                        <option>Summer</option>
                        <option>Fall</option>
                        <option>Winter</option>
                     </select>
                  </div>
                  <div class="form-group">
                     <label for="year">Year:</label>
                     <select class="form-control" name="gradebook[year]" id="year">
                        <option></option>
                        <option>2019</option>
                        <option>2020</option>
                        <option>2021</option>
                        <option>2022</option>
                     </select>
                  </div>
                  <div class="form-group">
                     <label for="start_date">Start Date:</label>
                     <input type="date" name="gradebook[start_date]" class="form-control">
                  </div>
                  <div class="form-group">
                     <label for="end_date">End Date:</label>
                     <input type="date" name="gradebook[end_date]" class="form-control">
                  </div>
                  <button type="submit" class="btn btn-outline-success">Submit</button>
               </form>
            </div>
            <div class="col-md-2"></div>
         </div>
      </div> -->
   </body>
</html>
