<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title></title>
   </head>
   <body>
      <div class="container">
         <div class="row">
            <div class="col-md-12 text-center">
               <h1>Gradebook Show</h1>
               <a href="/administrators" class="btn btn-primary">Home</a>
               <a href="/sessions/logout" data-method="delete" class="btn btn-primary">Logout</a>
               <h2>
                  Course: <%= @course.name.capitalize %>
               </h2>

            </div>
         </div>
         <hr>
         <div class="row">
            <div class="col-md-6 mx-auto">
               <h1>Grades:</h1>
               <% @grades.each do |grade| %>
                  <%= grade.student.first_name.capitalize %> <%= grade.student.last_name.capitalize %><br>
                  <%= grade.course.name %><br>
                  <%= grade.letter_score %><br>
                  <a href="/gradebooks/<%= grade.student.id %>/<%= grade.course.id %>" class="btn btn-primary">Add Record</a>
                  <a href="/gradebooks/<%= grade.student.id %>/<%= grade.course.id %>" class="btn btn-primary">Edit Record </a>
                  <a href="/gradebooks/<%= grade.student.id %>/<%= grade.course.id %>" class="btn btn-primary">Delete Record</a>
                  <hr>
               <% end %>
            </div>
         </div>
      </div>
   </body>
</html>
