<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title></title>
   </head>
   <body>
      <div class="container">
         <div class="row">
            <div class="col-md-12 text-center">
               <h1>Gradebook Show</h1>
               <a href="/administrators" class="btn btn-primary">Home</a>
               <a href="/sessions/logout" data-method="delete" class="btn btn-primary">Logout</a>
               <h2>
                  Course: <%= @course.name.capitalize %>
               </h2>

            </div>
         </div>
         <hr>
         <div class="row">
            <div class="col-md-8 mx-auto">
               <h1>Students:</h1>
               <table class="table table-hover">
                  <thead>
                     <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Course</th>
                        <th>Grade</th>

                     </tr>
                  </thead>
                  <tbody>
                     <% @students.each do |student| %>
                        <tr>
                           <td><%= student.first_name.capitalize %></td>
                           <td><%= student.last_name.capitalize %></td>
                           <td><%= @course.name.capitalize %></td>
                           <td>
                              <% student.gradebooks.each do |grade| %>
                                 <%= grade.letter_score %>
                              <% end %>
                           </td>
                        </tr>
                     <% end %>
                  </tbody>
               </table>
            </div>
         </div>
      </div>
   </body>
</html>
