


      <div class="container border py-2 my-4 shadow p-4 mb-4 bg-white">
         <div class="row">
            <div class="col-md-12 text-center mb-2">
               <h1><%= @course.name.capitalize %></h1>
               <hr>
            </div>
         </div>
         <div class="row">
            <div class="col-md-12 mb-2">
               <h3>Students:</h3>
            </div>
         </div>
         <div class="row">
            <div class="col-md-12">
               <table class="table table-hover">
                  <thead>
                     <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Course</th>
                        <th>Grade</th>
                        <th>Action</th>
                     </tr>
                  </thead>
                  <tbody>
                     <% @students.each do |student| %>
                        <tr>
                           <td><%= student.first_name.capitalize %></td>
                           <td><%= student.last_name.capitalize %></td>
                           <td><%= @course.name.capitalize %></td>
                           <% if student.gradebooks.exists? %>
                              <% student.gradebooks.each do |grade| %>
                                 <td>
                                       <%= grade.letter_score %>
                                 </td>
                                 <td>
                                    <% if current_guest %>
                                       <a href="/gradebooks/<%= grade.id %>/edit" class="btn btn-primary disabled"><i class="far fa-edit"></i> Edit</a>
                                       <a href="/gradebooks/<%= grade.id %>" class="btn btn-danger disabled" data-method="delete"><i class="fas fa-trash"></i> Delete</a>
                                    <% end %>
                                    <% if current_administrator || current_teacher%>
                                       <a href="/gradebooks/<%= grade.id %>/edit" class="btn btn-primary"><i class="far fa-edit"></i> Edit</a>
                                       <a href="/gradebooks/<%= grade.id %>" class="btn btn-danger" data-method="delete"><i class="fas fa-trash"></i> Delete</a>
                                    <% end %>
                                 </td>
                              <% end %>
                           <% else %>
                              <td></td>
                              <td><a href="/gradebooks/new/<%= student.id %>/<%= @course.id %>" class="btn btn-primary"><i class="fas fa-plus-circle"></i> Add Grade Record</a></td>
                           <% end %>
                        </tr>
                     <% end %>
                  </tbody>
               </table>
            </div>
         </div>
      </div>
