<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title></title>
   </head>
   <body>
      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom mb-4">

         <a class="navbar-brand" href="/administrators">Open-School</a>

         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>

         <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
               <li class="nav-item active">
                  <a class="nav-link" href="/administrators">Home</a>
               </li>
               <li class="nav-item active">
                  <a class="nav-link" href="/teachers_contact_info/new">New contact info</a>
               </li>
               <li class="nav-item active">
                  <a class="nav-link" href="#"><i class="fas fa-bell"></i></a>
               </li>
               <li class="nav-item border-right pr-2">
                  <a class="nav-link" href="#"><i class="fas fa-envelope"></i></a>
               </li>
               <% if current_administrator %>
                  <li class="nav-item dropdown pl-1">
                     <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         <%=current_administrator.login%> <i class="fas fa-user-circle"></i>
                     </a>
                     <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/administrators/<%= current_administrator.id %>">Profile</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/sessions/logout" data-method="delete">Logout</a>
                     </div>
                  </li>
               <% end %>
               <% if current_guest %>
                  <li class="nav-item dropdown pl-1">
                     <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         <%=current_guest.login%> <i class="fas fa-user-circle"></i>
                     </a>
                     <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="">Profile</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/sessions/logout" data-method="delete">Logout</a>
                     </div>
                  </li>
               <% end %>
            </ul>
         </div>
      </nav>


      <div class="container border py-2 shadow p-4 mb-4 bg-white">
         <div class="row">
            <div class="col-md-6">
               <div class="row">
                  <div class="col-md-12 mb-2">
                     <h1>Teacher:</h1>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-12">
                     <p><strong>Name:</strong> <%= @teacher.first_name.capitalize %> <%= @teacher.first_name.capitalize %></p>
                     <p><strong>Email:</strong> <%= @teacher.email %></p>
                  </div>
               </div>
            </div>
            <div class="col-md-6">
               <div class="row">
                  <div class="col-md-12 mb-2">
                     <h1>Contact Information:</h1>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-12">
                     <% if @contact %>
                        <p><strong>Address Line 1:</strong> <%= @contact.line_1_address %></p>
                        <p><strong>Address Line 2:</strong> <%= @contact.line_2_address %></p>
                        <p><strong>City:</strong> <%= @contact.city %></p>
                        <p><strong>State:</strong> <%= @contact.state %></p>
                        <p><strong>Zipcode:</strong> <%= @contact.zipcode %></p>
                     <% end %>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div class="container border py-2 shadow p-4 mb-4 bg-white">
         <div class="row">
            <div class="col-md-6">
               <h1>Courses</h1>
            </div>
         </div>
         <div class="row">
            <div class="col-md-12">
               <table class="table table-hover">
                  <thead>
                     <tr>
                        <th>Course</th>
                        <th>Subject</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                     </tr>
                  </thead>
                  <tbody>
                     <% if @courses %>
                        <% @courses.each do |course| %>
                           <tr>
                              <td><%= course.name.capitalize %></td>
                              <td><%= course.subject.capitalize%></td>
                              <td><%=  course.start_date %></td>
                              <td><%= course.end_date %></td>
                           </tr>
                        <% end %>
                     <% end %>
                  </tbody>
               </table>
            </div>
         </div>
      </div>


      <footer class="conatiner-fluid pt-4" style="background-color:#eee;">
         <div class="container">
            <div class="row">
               <div class="col-1"></div>
               <div class="col-md-10 text-center">
                  <p> &copy; Open-School 2019. All Rights Reserved.</p>
               </div>
               <div class="col-1"></div>
            </div>
         </div>
      </footer>

   </body>
</html>
