<!-- Students Section -->
<div class="tab-pane container active" id="students">
   <div class="row pt-2">
      <div class="col-md-12">
         <h1>Listing Students</h1>
      </div>
   </div>
   <div class="row mb-4">
      <div class="col-md-12">
         <ul class="nav bg-light border">
            <li class="nav-item">
               <a class="nav-link" href="/students/new"><i class="fas fa-plus-circle"></i> New Student</a>
            </li>
         </ul>
      </div>
   </div>
   <div class="row">
      <div class="col-md-12">
         <table class="table table-bordered table-hover">
            <thead>
               <tr>
                  <th>Picture</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Username</th>
                  <th>Grade</th>
                  <th>Classes</th>
                  <th>Actions</th>
               </tr>
            </thead>
            <tbody>
               <% @students.each do |student| %>
                  <tr>
                     <td><%= image_tag(student.image_url(:profile).to_s) %></td>
                     <td><%= student.first_name.capitalize %></td>
                     <td><%= student.last_name.capitalize %></td>
                     <td><%= student.username %></td>
                     <td><%= student.grade_level %></td>
                     <td><%= student.courses.length %></td>
                     <% if current_administrator %>
                        <td>
                           <a href="/students/<%= student.id %>" class="btn btn-primary"><i class="far fa-arrow-alt-circle-right"></i> Details</a>
                           <a href="/students/<%= student.id %>/edit" class="btn btn-success"><i class="far fa-edit"></i> Edit</a>
                           <a href="/students/<%= student.id %>" data-method="delete" class="btn btn-danger"><i class="fas fa-trash"></i> Delete</a>
                        </td>
                     <% else %>
                        <td>
                           <a href="/students/<%= student.id %>" class="btn btn-primary"><i class="far fa-arrow-alt-circle-right"></i> Details</a>
                           <a href="/students/<%= student.id %>/edit" class="btn btn-success disabled"><i class="far fa-edit"></i> Edit</a>
                           <a href="/students/<%= student.id %>" data-method="delete" class="btn btn-danger disabled"><i class="fas fa-trash"></i> Delete</a>
                        </td>
                     <% end %>
                  </tr>
               <% end %>
            </tbody>
         </table>
      </div>
   </div>
</div>
<!-- Students Section End -->
