<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title></title>
   </head>
   <body>

      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">

         <a class="navbar-brand" href="/administrators">Open-School</a>

         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>

         <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
               <li class="nav-item active">
                  <a class="nav-link" href="#"><i class="fas fa-bell"></i></a>
               </li>
               <li class="nav-item border-right pr-2">
                  <a class="nav-link" href="#"><i class="fas fa-envelope"></i></a>
               </li>
               <% if current_administrator %>
                  <li class="nav-item dropdown pl-1">
                     <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         <%=current_administrator.login%> <i class="fas fa-user-circle"></i>
                     </a>
                     <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/administrators/<%= current_administrator.id %>">Profile</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/sessions/logout" data-method="delete">Logout</a>
                     </div>
                  </li>
               <% end %>
               <% if current_guest %>
                  <li class="nav-item dropdown pl-1">
                     <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         <%=current_guest.login%> <i class="fas fa-user-circle"></i>
                     </a>
                     <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="">Profile</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/sessions/logout" data-method="delete">Logout</a>
                     </div>
                  </li>
               <% end %>
            </ul>
         </div>
      </nav>


      <br>
      <div class="container">
         <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 text-center">
               <a href="/courses" class="btn btn-primary">Courses Dashboard</a>
               <a href="/assignments/<%= @course.id %>" class="btn btn-primary">Assignment</a>
               <a href="/attendances/<%= @course.id %>" class="btn btn-primary">Attendance</a>
               <a href="/sessions/logout" data-method="delete" class="btn btn-primary">Logout</a>
            </div>
            <div class="col-md-2"></div>
         </div>
         <br>
         <div class="row">
            <div class="col-md-12">
               <div class="container">
                  <table class="table table-bordered">
                     <thead>
                        <tr>
                           <th>Teacher</th>
                           <th>Course</th>
                           <th>Subject</th>
                           <th>Start Date</th>
                           <th>End Date</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr>
                           <td>
                              <% if @teacher_course %>
                                 <% @teacher_course.each do |teacher| %>
                                    <%= teacher.first_name.capitalize %> <%= teacher.last_name.capitalize %> <br>
                                 <% end %>
                              <% end %>
                           </td>
                           <td><%= @course.name.capitalize %></td>
                           <td><%= @course.subject.capitalize %></td>
                           <td><%= @course.start_date %></td>
                           <td><%= @course.end_date %></td>
                        </tr>
                     </tbody>
                  </table>
               </div>
               <div class="container">
                  <h1>Students in this class:</h1>
                  <table class="table table-bordered">
                     <thead>
                        <tr>
                           <th>Name</th>
                           <th>Username</th>
                           <th>Grade</th>
                           <th>Action</th>
                        </tr>
                     </thead>
                     <tbody>
                        <% if @student_course %>
                           <% @student_course.each do |student| %>
                              <tr>
                                 <td><a href="/<%=student.id%>/<%=@course.id%>"><%= student.first_name.capitalize %> <%= student.last_name.capitalize %> <%= @course.id %></a></td>
                                 <td><%= student.username %></td>
                                 <td><%= student.grade_level %></td>
                                 <td></td>
                              </tr>
                           <% end %>
                        <% end %>
                     </tbody>
                  </table>
               </div>
               <br>
            </div>
         </div>
         <div class="row">
            <div class="col-md-6">
               <h1>Add Teacher to this Course:</h1>
               <form action="/teacher-course/<%= @course.id %>" method="post">
                  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
                  <div class="form-group">
                     <label for="email">Teachers:</label>
                     <select class="form-control" name="email" id="email">
                        <option></option>
                        <% @teachers.each do |teacher|%>
                           <option value="<%= teacher.email %>"><%= teacher.first_name.capitalize %> <%= teacher.last_name.capitalize %></option>
                        <% end %>
                     </select>
                  </div>
                  <button type="submit" class="btn btn-outline-success">Add</button>
               </form>
            </div>
            <div class="col-md-6">
               <h1>Add Student to this Course:</h1>
               <form action="/student-course/<%= @course.id %>" method="post">
                  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
                  <div class="form-group">
                     <label for="username">Students:</label>
                     <select class="form-control" name="username" id="username">
                        <option></option>
                        <% @students.each do |student|%>
                           <option value="<%= student.username %>"><%= student.first_name.capitalize %> <%= student.last_name.capitalize %></option>
                        <% end %>
                     </select>
                  </div>
                  <button type="submit" class="btn btn-outline-success">Add</button>
               </form>
            </div>
         </div>
      </div>
      <br>

      <footer class="conatiner-fluid" style="background-color:#eee;padding-top:25px;padding-bottom:10px;">
         <div class="container">
            <div class="row">
               <div class="col-1"></div>
               <div class="col-md-10 text-center">
                  <p> &copy; Open-School 2019. All Rights Reserved.</p>
               </div>
               <div class="col-1"></div>
            </div>
         </div>
      </footer>
      
   </body>
</html>
