<div class="container">
   <div class="row">
      <div class="col-md-8 mx-auto border py-2 shadow p-4 mb-4 bg-white">
         <h5 class="card-title text-center">Edit Parent</h5>
         <form action="/parents/<%= @parent.id %>" method="post" enctype="multipart/form-data">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
            <input type="hidden" name="_method" value="patch">

            <div class="form-group">
               <label for="first_name">First Name:</label>
               <input type="text" name="parent[first_name]" value="<%= @parent.first_name.titleize %>" class="form-control" />
            </div>

            <div class="form-group">
               <label for="last_name">Last Name:</label>
               <input type="text" name="parent[last_name]"  value="<%= @parent.last_name.titleize %>" class="form-control" />
            </div>

            <div class="form-group">
               <label for="email">Email:</label>
               <input type="text" name="parent[email]" value="<%= @parent.email %>" class="form-control" />
            </div>

            <div class="form-group">
               <label for="inputPassword">Password</label>
               <input type="password" id="inputPassword" class="form-control" value="<%= @parent.password %>" name="parent[password]" required>
            </div>

            <div class="form-group">
               <label for="password_confirmation">Password Confirmation</label>
               <input type="password" name="parent[password_confirmation]" id="password_confirmation" value="<%= @parent.password %>" class="form-control">
            </div>

            <div class="form-group">
               <label for="image">Profile Picture</label>
               <input type="file" name="parent[image]" multiple>
            </div>

            <button type="submit" class="btn btn-success">Update</button>
         </form>
      </div>
   </div>
</div>
