<div class="container pt-3 border shadow p-4 mb-4 bg-white">
   <div class="row">
      <div class="col-md-12">
         <h1>Profile:</h1>
      </div>
   </div>
   <hr>
   <div class="row">
      <div class="col-md-4 mb-2">

         <%= image_tag(@parent.image_url(:profile).to_s) %>

      </div>
   </div>
   <hr>
   <div class="row">
      <div class="col-md-12 mt-2">
         <p><strong>Name:</strong> <%= @parent.first_name.capitalize %> <%= @parent.last_name.capitalize %></p>
         <hr>
         <p><strong>Email:</strong> <%= @parent.email %></p>
         <hr>
         <p><strong>Student:</strong> <%= @parent.student %></p>
         <hr>
      </div>
   </div>
</div>
