<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title></title>
   </head>
   <body>
      <div class="container">
         <div class="row">
            <div class="col-md-12 text-center">
               <h1>Attendance Show</h1>
               <h2>Course: <%= @course.name.capitalize %></h2>
            </div>
         </div>
         <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
               <% @student_course.each do |student|%>
                  <form action="" method="post">
                     <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />

                     <div class="form-group">
                        <label for="date">Date:</label>
                        <input type="date" name="date" value="<%= Date.current %>" class="form-control">
                     </div>

                     <div class="row">
                        <div class="col-md-6">
                           <%= student.first_name.capitalize %> <%= student.last_name.capitalize %>
                        </div>
                        <div class="col-md-6">
                           <div class="form-group">
                              <label for="sel1">Select:</label>
                              <select class="form-control" id="sel1">
                                 <option></option>
                                 <option>Present</option>
                                 <option>Absent</option>
                              </select>
                           </div>
                        </div>
                     </div>
                     <button type="submit" class="btn btn-outline-success">Submit</button>
                  </form>
                  <hr>
               <% end %>
            </div>
            <div class="col-md-3"></div>
         </div>
      </div>
   </body>
</html>
