
<div class="container mt-4">

   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <h1> New Conversation: </h1>

            <% if current_teacher %>
               <form class="" action="/teacher_parent_conversations/teacher/<%= current_teacher.id %>" method="post">
                  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />

                  <div class="form-group">
                     <label for="parent">Select list:</label>
                     <select class="form-control" id="parent" name="parent">
                        <option></option>
                        <% @parents.each do |parent| %>
                        <option value="<%= parent.id %>"><%= parent.first_name.capitalize %> <%= parent.last_name.capitalize %></option>
                        <% end %>
                     </select>
                     <button type="submit" name="button" class="btn btn-primary">Message</button>
                  </div>

               </form>
            <% end %>

            <% if current_parent %>
               <form class="" action="/teacher_parent_conversations/parent/<%= current_parent.id %>" method="post">
                  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />

                  <div class="form-group">
                     <label for="teacher">Select list:</label>
                     <select class="form-control" id="teacher" name="teacher">
                        <option></option>
                        <% @teachers.each do |teacher| %>
                        <option value="<%= teacher.id %>"><%= teacher.first_name.capitalize %> <%= teacher.last_name.capitalize %></option>
                        <% end %>
                     </select>
                     <button type="submit" name="button" class="btn btn-primary pt-2">Message</button>
                  </div>

               </form>
            <% end %>

            <hr>
         </div>
      </div>
      <div class="row">
         <div class="col-md-6">
            <h1>Inbox:</h1>

            <% @inbox.each do |item| %>
               <% if current_parent%>
                  <div class="card bg-light">
                     <a href="/teacher_parent_conversations/<%= item.id %>" class="btn">
                        <div class="card-body">
                           <h3><%= item.teacher.first_name.capitalize %> <%= item.teacher.last_name.capitalize %> - <small><%= item.updated_at.strftime("%b %d, '%y") %></small></h3>
                        </div>
                     </a>
                  </div>
               <% end %>
               <% if current_teacher %>
                  <div class="card bg-light">
                     <a href="/teacher_parent_conversations/<%= item.id %>" class="btn">
                        <div class="card-body">
                           <h3><%= item.parent.first_name.capitalize %> <%= item.parent.last_name.capitalize %> - <small><%= item.updated_at.strftime("%b %d, '%y") %></small></h3>
                        </div>
                     </a>
                  </div>
               <% end %>
               <br>
            <% end %>
         </div>
      </div>
   </div>
</div>
