
<div class="container py-4">
   <div class="container">
      <h3><%= @teacher.first_name.capitalize %> <%= @teacher.last_name.capitalize %></h3>
      <h3><%= @parent.first_name.capitalize %> <%= @parent.last_name.capitalize %></h3>
   </div>

   <hr>

   <div class="container">
      <div class="container-fluid">
         <% @messages.each do |message| %>
            <% if message.teacher != nil %>
               <p><strong><%= message.teacher.first_name.capitalize %> <%= message.teacher.last_name.capitalize %>:</strong></p>
            <% end %>
            <% if message.parent != nil %>
               <p><strong><%= message.parent.first_name.capitalize %> <%= message.parent.last_name.capitalize %>:</strong></p>
            <% end %>
            <p><%= message.body %></p>
            <hr>
         <% end %>
      </div>
   </div>

   <hr>

   <div class="container">
      <% if current_teacher %>
         <form action="/teacher_parent_messages/teacher/<%= @conversation.id %>" method="post">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />

            <div class="form-group">
               <textarea name="body" rows="8" cols="80"></textarea>
            </div>

            <button type="submit" name="button" class="btn btn-primary">Send</button>

         </form>
      <% end %>

      <% if current_parent %>
         <form action="/teacher_parent_messages/parent/<%= @conversation.id %>" method="post">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />

            <div class="form-group">
               <textarea name="body" rows="8" cols="80"></textarea>
            </div>

            <button type="submit" name="button" class="btn btn-primary">Send</button>

         </form>
      <% end %>
   </div>
</div>
