<!DOCTYPE html>
<html>
   <head>
      <title>SchoolManagement</title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
      <link rel="icon" href="/assets/logo2.png">
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
   </head>

   <body>

      <!-- Page Wrapper -->
      <div class="d-flex" id="wrapper">

         <!-- Sidebar Section -->
         <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="sidebar-heading admin">Open-School</div>
            <div class="list-group list-group-flush">
               <a href="/administrators" class="list-group-item list-group-item-action"><i class="fas fa-school"></i> Dashboard</a>
               <a href="/administrators/teachers"  class="list-group-item list-group-item-action"><i class="fas fa-chalkboard-teacher"></i> Teachers</a>
               <a href="/administrators/students"  class="list-group-item list-group-item-action"><i class="fas fa-user-graduate"></i> Students</a>
               <a href="/administrators/parents" class="list-group-item list-group-item-action"><i class="fas fa-user-friends"></i> Parents</a>
               <a href="/administrators/courses" class="list-group-item list-group-item-action"><i class="fas fa-chalkboard"></i> Courses</a>
               <a href="/administrators/assignments"  class="list-group-item list-group-item-action"><i class="fas fa-book-reader"></i> Assignments</a>
               <a href="/administrators/gradebook" class="list-group-item list-group-item-action"><i class="fas fa-chart-bar"></i> Gradebook</a>
               <!-- <a href="#attendance" data-toggle="tab" class="list-group-item list-group-item-action">Attendance</a> -->
            </div>
         </div>
         <!-- Sidebar Section End -->

         <!-- Page Content Section -->
         <div id="page-content-wrapper">

            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
               <button class="btn btn-outline-primary btn-sm" id="menu-toggle"><i class="fas fa-bars"></i></button>

               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
               </button>

               <div class="collapse navbar-collapse" id="navbarSupportedContent">

                  <ul class="navbar-nav ml-auto mt-2 mt-lg-0">

                        <!-- <li class="nav-item border-right pr-2">
                           <a class="nav-link" href="/teacher_parent_conversations"><i class="fas fa-inbox fa-lg" data-toggle="tooltip" data-placement="left" title="Inbox"></i></a>
                        </li> -->

                     <li class="nav-item dropdown pl-1">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <%= current_user.login.capitalize %> <i class="fas fa-user-circle"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                           <a class="dropdown-item" href="/administrators/<%= current_user.id %>">My Account</a>
                           <div class="dropdown-divider"></div>
                           <a class="dropdown-item" href="/sessions/logout" data-method="delete"><i class="fas fa-sign-out-alt"></i> Sign out</a>
                        </div>
                     </li>

                  </ul>

               </div>
            </nav>

            <div class="tab-content container-fluid">
               <%= yield %>
            </div>

         </div>
         <!-- Page Content Section End -->

      </div>
      <!-- Page Wrapper End -->

      <script>
        $("#menu-toggle").click(function(e) {
          e.preventDefault();
          $("#wrapper").toggleClass("toggled");
        });
      </script>

   </body>
</html>
