<!DOCTYPE html>
<html>
   <head>
      <title>SchoolManagement</title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
      <link rel="icon" href="/assets/logo2.png">
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">
   </head>

   <body>

      <!-- Notices -->
      <% if flash[:notice] %>
         <div class="alert alert-success alert-dismissible" role="alert" id="notice">
            <% flash[:notice].each do |notice| %>
               <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
               </button>
               <span><%= notice %></span>
            <% end %>
         </div>
      <% end %>
      <!-- Errors -->
      <% if flash[:errors] %>
         <% flash[:errors].each do |error| %>
            <div class="alert alert-danger alert-dismissible" role="alert" id="errors">
               <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
               </button>
               <strong><%= error %></strong>
            </div>
         <% end %>
      <% end %>

      <%= yield %>
      <script>
         new WOW().init();
      </script>

   </body>
</html>
